# Ignore node_modules folder
node_modules/

# Ignore build or dist files
dist/
build/

demo.txt

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db
